.TaskTypeCircle{
    width:10px;
    height:10px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    margin: 5px;
}

.Done {
    background-color: rgb(11, 214, 11);
}

.Meeting {
    background: blue;
}

.Email {
    background: rgb(255, 0, 242);
}

.Housework {
    background-color: rgb(0, 228, 245);
}
.col-sm-2 > span, .col-sm-2 > p {
  display: inline-block;
}