.TaskTypeCircle{
    width:10px;
    height:10px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    margin: 5px;
}

.Done {
    background-color: rgb(11, 214, 11);
}

.Meeting {
    background: #0d47a1;
}

.Email {
    background: #4dd0e1;
}

.Housework {
    background-color: #ec407a;
}
.col-sm-2 > span, .col-sm-2 > p {
  display: inline-block;
}