.ButtonTrue{
    background-color: lightgreen;
}

.ButtonFalse{

}

.Meeting{
    background-color: blue;
}

.Email{
    background: rgb(255, 0, 242);
}

.Housework{
    background-color: rgb(0, 228, 245);
}
