.ButtonTrue{
    background-color: lightgreen;
}

/* .ButtonFalse{

} */

.Meeting{
    background-color: blue;
}

.Email{
    background: rgb(255, 0, 242);
}

.Housework{
    background-color: rgb(0, 228, 245);
}
.Svg{
    flex-direction: row;
    height: auto;
    width: 300px;
    display: block;
    word-wrap: break-word;
    float: left;
}
