.Image{
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.Center{
    text-align: center;
    height: auto;
}

.Svg{
    flex-direction: row;
    height: auto;
    width: 300px;
    display: block;
    word-wrap: break-word;
    float: left;
}

.RowDone{
    background-color: green;
}

.ButtonTrue{
    background-color: lightgreen;
}

.ButtonFalse{
    
}
